# Java / Spring Boot
target/
*.class
*.jar
*.war
*.iml
/.idea
/.settings
/.project

# Maven
.mvn/
dependency-reduced-pom.xml

# Gradle
.gradle/
build/

# Node / Angular
node_modules/
dist/
npm-debug.log
yarn-error.log
package-lock.json
.angular/

# IDEs / OS
.vscode/
.DS_Store
*.log

# Secrets / properties
src/main/resources/application-*.yml
src/main/resources/application-*.properties
.env
